# Lima Budget and Expenditure Execution â€“ Accrued Quarterly

Analyzed by: [Samuel D. Boadi](https://bit.ly/Tableau_SDBoadi)

Information on Quarterly Accruals from 2014 to 2023

#### Dataset Info
> Publisher: 
[Ministry of Economy and Finance - MEF](https://www.datosabiertos.gob.pe/group/ministerio-de-econom%C3%ADa-y-finanzas-mef)


<table>
    <tr>
        <th>VARIABLE</th>
        <th>DATA TYPE</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr>
        <td>Shaft Year</td>
        <td>Numeric</td>
        <td>Year of budget execution</td>
    </tr>
    <tr>
        <td>Quarter</td>
        <td>Numeric</td>
        <td>Budget execution quarter</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>Character</td>
        <td>Budget Execution Department Code</td>
    </tr>
    <tr>
        <td>Department Name</td>
        <td>Character</td>
        <td>Name of the budget execution department</td>
    </tr>
    <tr>
        <td>Project Act Type</td>
        <td>Numeric</td>
        <td>Code that shows if it is a project or product</td>
    </tr>
    <tr>
        <td>Project Act Type Name</td>
        <td>Character</td>
        <td>Name that indicates whether it is a project or product</td>
    </tr>
    <tr>
        <td>Function</td>
        <td>Character</td>
        <td>Function Code</td>
    </tr>
    <tr>
        <td>Function Name</td>
        <td>Character</td>
        <td>It corresponds to the maximum level of aggregation of the actions to be taken, aimed at the execution of a certain topic.</td>
    </tr>
    <tr>
        <td>Financing Source</td>
        <td>Character</td>
        <td>Financing Source Code that groups one or more Items</td>
    </tr>
    <tr>
        <td>Financing Source Name</td>
        <td>Character</td>
        <td>Description of the Funding Source.</td>
    </tr>
    <tr>
        <td>Item</td>
        <td>Character</td>
        <td>Category Code that the Entity can use</td>
    </tr>
    <tr>
        <td>Item Name</td>
        <td>Character</td>
        <td>Description of the Item</td>
    </tr>
    <tr>
        <td>Amount Accrued</td>
        <td>Numeric</td>
        <td>Amount executed as the Accrued phase in the Shaft Year.</td>
    </tr>
</table>

Here is the link to the dataset, [website](https://www.datosabiertos.gob.pe/dataset/presupuesto-y-ejecuci%C3%B3n-de-gasto-%E2%80%93-devengado-trimestral).

In [1]:
# import necessary packages
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from deep_translator import GoogleTranslator

%matplotlib inline

### Gathering Data

In [2]:
# Load data and print out first 5 rows. 
path = 'data/expense'
df = pd.concat(map(pd.read_csv, glob.glob(path + "/2*.csv")))
df.head()

,ANO_EJE,TRIMESTRE,DEPARTAMENTO,DEPARTAMENTO_NOMBRE,TIPO_ACT_PROY,TIPO_ACT_PROY_NOMBRE,FUNCION,FUNCION_NOMBRE,FUENTE_FINANCIAMIENTO,FUENTE_FINANCIAMIENTO_NOMBRE,RUBRO,RUBRO_NOMBRE,MONTO_DEVENGADO
0,2014,1,18,MOQUEGUA,2,PROYECTO,10,AGROPECUARIA,5,RECURSOS DETERMINADOS,18,"CANON Y SOBRECANON, REGALIAS, RENTA DE ADUANAS...",3630525.66
1,2014,2,24,TUMBES,3,ACTIVIDAD,3,"PLANEAMIENTO, GESTION Y RESERVA DE CONTINGENCIA",5,RECURSOS DETERMINADOS,18,"CANON Y SOBRECANON, REGALIAS, RENTA DE ADUANAS...",1482385.43
2,2014,2,16,LORETO,3,ACTIVIDAD,20,SALUD,4,DONACIONES Y TRANSFERENCIAS,13,DONACIONES Y TRANSFERENCIAS,3644750.99
3,2014,2,23,TACNA,3,ACTIVIDAD,22,EDUCACION,2,RECURSOS DIRECTAMENTE RECAUDADOS,9,RECURSOS DIRECTAMENTE RECAUDADOS,603167.29
4,2014,1,1,AMAZONAS,3,ACTIVIDAD,15,TRANSPORTE,2,RECURSOS DIRECTAMENTE RECAUDADOS,9,RECURSOS DIRECTAMENTE RECAUDADOS,103179.21

### Assessing Data

In [3]:
# Print the number of samples and columns in the dataset
print('The number of samples is', df.shape[0], 
     '\nand the number of columns is', df.shape[1])

The number of samples is 491817
and the number of columns is 13

In [4]:
# Function to check null values in the selected columns
def check_null_values(data=df, col=False):
    '''
    Function to check whether a dataset has a null values 
    and the number of null values if they exist.

    Parameter: data - dataset to check
               col  - selected columns to check null the values

    '''
    if col == False:
        num = data.isnull().sum()
        ans = data.isnull().sum().any()
        if ans == True:
            print('Yes, there are null values in the dataset\n', num, 'null values')
        else:
            print('No, there are no null values in the dataset')
    else:
        num = data[col].isnull().sum()
        ans = data[col].isnull().sum().any()
        if ans == True:
            print('Yes, there are null values in the dataset\n', num, 'null values')
        else:
            print('No, there are no null values in selected columns in the dataset')

In [5]:
check_null_values(df)

No, there are no null values in the dataset

In [6]:
# Check for duplicates in the dataset.
print('The number of duplicate rows in the dataset is', df.duplicated().sum())

The number of duplicate rows in the dataset is 11386

In [7]:
# Inspect data types
df.dtypes

ANO_EJE                           int64
TRIMESTRE                         int64
DEPARTAMENTO                      int64
DEPARTAMENTO_NOMBRE              object
TIPO_ACT_PROY                     int64
TIPO_ACT_PROY_NOMBRE             object
FUNCION                           int64
FUNCION_NOMBRE                   object
FUENTE_FINANCIAMIENTO             int64
FUENTE_FINANCIAMIENTO_NOMBRE     object
RUBRO                             int64
RUBRO_NOMBRE                     object
MONTO_DEVENGADO                 float64
dtype: object

### Cleaning Data
The dataset is clean.<br> 
Three changes will be made in the dataset:
* Remove duplicates
* Change datatype of _Shaft Year_ to date
* Extract Lima Department for analysis
* Remove the underscore in the columns and replace it with a space.
* Translate all column names and values in the columns.

In [8]:
# remove duplicates
df.drop_duplicates(inplace=True)

#Test
print('The number of duplicate rows in the dataset is', df.duplicated().sum())

The number of duplicate rows in the dataset is 0

In [9]:
# change to datetime
df['ANO_EJE'] = pd.to_datetime(df.ANO_EJE, format='%Y')

# Test
df['ANO_EJE'].dtype

dtype('<M8[ns]')

In [10]:
# Extract Lima for analysis
df = df[df['DEPARTAMENTO_NOMBRE'] == 'LIMA']

In [11]:
# replace underscore with space in the column heading 
df.columns = df.columns.str.replace('_', ' ')

In [12]:
def to_english(col, data=df):
    '''
    Function to translate values in a column to English

    Parameter: col  - selected columns to translate
               data - dataset 
    '''
    # Unique values in the column
    col_values = data[col].unique()
    n = col_values.shape[0]

    i = 0
    col_values_en = []
    for i in range(n):
        # translate to english
        col_values_en.append(GoogleTranslator(source='es', target='en').translate(col_values[i]))
        i += 1
    
    # create a dictionary of spanish : english
    es_en_dict = dict(map(lambda i,j : (i,j) , col_values, col_values_en))
    
    # replace spanish values with english in the column
    data[col].replace(to_replace=es_en_dict, inplace=True)

In [13]:
# translate values in column 
# 'TYPE ACT PROJECT NAME', 'FUNCTION NAME', 'FINANCING SOURCE NAME' & 'ITEM NAME'
#   from Spanish to English
cols = ['TIPO ACT PROY NOMBRE', 'FUNCION NOMBRE', 'FUENTE FINANCIAMIENTO NOMBRE', 'RUBRO NOMBRE']
for col in cols:
    to_english(col)

C:\Users\Sage\AppData\Local\Temp\ipykernel_7676\2664305081.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].replace(to_replace=es_en_dict, inplace=True)

In [14]:
# translate column heading from Spanish to English
columns = df.columns.values
n = 0
for column in columns:
    df.columns.values[n] = GoogleTranslator(source='es', target='en').translate(column)
    n += 1

In [15]:
# save new datasets for next section
df.to_csv('data/clean_energy_data.csv', index=False)